/* Always set the map height explicitly to define the size of the div
* element that contains the map. */
#map {
  height: 100%;
  background-color: #b5b292;
}


/* Optional: Makes the sample page fill the window. */
html, body {
  height: 95%;
  margin: 0;
  padding: 0;
}


#site-title {
  height: 5%;
}


body {
  font-family: "Lato", sans-serif;
  background-color: #b5b292;
  color: #d5d3bf;
}


.gm-style-iw div {
 overflow-x:hidden !important;
}


.info-window {
  text-shadow:0px 0px 8px #b5b292;
  color: #000000;
}


.material-icons {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 24px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}


.material-icons.md-dark {
  color: #fdd835;
}


.material-icons.md-dark.md-inactive {
  color: #bdbdbd;
}


.sidenav {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #ccc9b3;
  overflow-x: hidden;
  transition: 0.5s;
  padding-top: 20px;
}


.sidenav .col-md-12 {
  padding: 8px 8px 8px 24px;
  text-decoration: none;
  font-size: 22px;
  color: #000000;
  text-shadow:0px 0px 8px #b5b292;
  display: block;
  transition: 0.3s
}


.sidenav a {
  padding: 8px 8px 8px 32px;
  text-decoration: none;
  font-size: 18px;
  color: #000000;
  text-shadow:0px 0px 8px #b5b292;
  display: block;
  transition: 0.3s
}


.sidenav a:hover, .offcanvas a:focus{
  color: #f1f1f1;
}


@media screen and (max-height: 450px) {
.sidenav {padding-top: 15px;}
.sidenav a {font-size: 18px;}
}
