'<div id="infoWindow" class="info-window">' +
  '<div class = "row">' +
    '<h3 class="col-md-12" data-bind="text: title">' +
    '</h3>' +
  '</div>' +
  '<div class="info-content"><p>' +
    '<div class = "row">' +
      '<div class="col-md-3">' +
        // '<img style="float:left" data-bind="attr:{src: imageUrl}" />' +
      '</div>' +
      '<div class="col-md-9">' +
        '<div class = "row">' +
          '<div class="col-md-12" data-bind="text: rating">' +
          '</div>' +
        '</div>' +
        '<div class = "row">' +
          '<a href="#" class="col-md-12" data-bind="text: websiteText, click: websiteUrl"></a>' +
        '</div>' +
      '</div>' +
    '</div>' +
    '<div class = "row">' +
      '<div class="col-md-12" data-bind="text: snippet">' +
      '</div>' +
    '</div>' +
    '<div class = "row">' +
      '<a href="#" class="col-md-12" data-bind="text: wikiText, click: wikiUrl"></a>' +
      '</div>' +
    '</div>' +
  '</p></div>' +
'</div>';